<div class="container-fluid footerR">

    <div class="footerImg">
        <div class="row">
            <div class="col-6">
                <div class="footerP1 d-flex justify-content-center align-items-center">
                    <p class="footerP text-white">
                        Fikirlerinizi bulmak için kaydolun
                    </p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                {% include 'includes/_loginCard.html' %}

            </div>
        </div>
    
       
    </div>


    
</div>
<div class="footerS">
    <ul class="d-flex footerUl justify-content-center mt-3">
        <li><a class="text-black" href="#">Hizmet Şartları</a></li>
        <li><a class="text-black" href="#">Gizlilik politakası</a></li>
        <li><a class="text-black" href="#">Yardım</a></li>
        <li><a class="text-black" href="#">İphone Uygulaması</a></li>
        <li><a class="text-black" href="#">Android Uygulaması</a></li>
        <li><a class="text-black" href="#">Kullancılar</a></li>
        <li><a class="text-black" href="#">Koleksiyolar</a></li>
        <li><a class="text-black" href="#">Alışveriş</a></li>
        <li><a class="text-black" href="#">Bugün</a></li>
        <li><a class="text-black" href="#">Keşfet</a></li>

    </ul>
</div>