{% load static %}

 <div class="headerCon">
        <div class="grid">
            <div class="grid-item mb-3">
                  <img class="grid1R" src="{% static 'img/resimY1.jpg' %}" alt="">
              </div>        
            <div class="grid-item mb-3 headerG2"> <img class="grid2R" img src="{% static 'img/resimY2.jpg' %}" alt=""></div>
            <div class="grid-item mb-3  headerG3"> <img class="grid3R" src="{% static 'img/resimY3.jpg' %}" alt=""></div>
            <div>
                <h1 class="headerh1">Sıradaki fikri bulun</h1>
                <p class="headerP">hafta içi akşam yemeği fikri</p>
    
                <div class="grid-item mb-3 headerG4"> <img class="grid4R" src="{% static 'img/resimY4.jpg' %}" alt=""></div>
                <div class="grid-item mb-3  headerG3"> <img class="grid5R" src="{% static 'img/resimY5.jpg' %}" alt=""></div>
                <div class="grid-item mb-3 headerG2"> <img class="grid6R" src="{% static 'img/resimY6.jpg' %}" alt=""></div>
            </div>
        
            <div class="grid-item mb-3"> <img class="grid7R" src="{% static 'img/resimY7.jpg' %}" alt=""></div>
            <div class="grid-item">

                 <img class="grid1R" src="{% static 'img/resimY8.jpg' %}" alt="">

                </div>
            <div class="grid-item"> <img class="grid7R" src="{% static 'img/resimY9.jpg' %}" alt=""></div>
            <div class="grid-item"> <img class="grid2R" src="{% static 'img/resimY10.jpg' %}" alt=""></div>
            <div class="grid-item"> <img class="grid6R" src="{% static 'img/resimY11.jpg' %}" alt=""></div>
            <div class="grid-item"> <img class="grid3R" src="{% static 'img/resimY12.jpg' %}" alt=""></div>
            <div class="grid-item"> <img class="grid5R"  src="{% static 'img/resimY13.jpg' %}" alt=""></div>
            <div class="grid-item"> <img class="grid4R" src="{% static 'img/resimY14.jpg' %}" alt=""></div>
    
          </div>
    </div> 
    
    
    <div class="headerCon2">
        <div class="grid2">
            <div class="grid-item2 mb-3 grid1R2"> <img class="grid1R" src ="{% static 'img/resimE1.jpg' %}" alt=""></div>
            <div class="grid-item2 mb-3 headerG2"> <img class="grid2R" src="{% static 'img/resimE2.jpg' %}" alt=""></div>
            <div class="grid-item2 mb-3  headerG3"> <img  class="grid3R" src="{% static 'img/resimE3.jpg' %}" alt=""></div>
            <div>
                <h1 class="headerh1">Sıradaki fikri bulun</h1>
                <p class="headerP2">ev dekorasyonu fikri</p>
    
                <div class="grid-item2 mb-3 headerG4"> <img class="grid4R" src="{% static 'img/resimE4.jpg' %}" alt=""></div>
                <div class="grid-item2 mb-3  headerG3"> <img  class="grid5R" src="{% static 'img/resimE5.jpg' %}" alt=""></div>
                <div class="grid-item2 mb-3 headerG2"> <img class="grid6R" src="{% static 'img/resimE6.jpg' %}" alt=""></div>
            </div>
        
            <div class="grid-item2 mb-3"> <img class="grid7R" src="{% static 'img/resimE7.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid1R" src="{% static 'img/resimE8.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid7R" src="{% static 'img/resimE9.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid2R" src="{% static 'img/resimE10.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid6R" src="{% static 'img/resimE11.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid3R" src="{% static 'img/resimE12.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid5R" src="{% static 'img/resimE13.jpg' %}" alt=""></div>
            <div class="grid-item2"> <img class="grid4R" src="{% static 'img/resimE14.jpg' %}" alt=""></div>
    
          </div>
    </div> 
    
    
     <div class="headerCon3">
        <div class="grid3">
            <div class="grid-item3 mb-3 grid1R2"> <img class="grid1R" src="{% static 'img/resim1-3.jpg' %}" alt=""></div>
            <div class="grid-item3 mb-3 headerG2"> <img class="grid2R" src="{% static 'img/resim2-22.jpg' %}" alt=""></div>
            <div class="grid-item3 mb-3  headerG3"> <img  class="grid3R" src="{% static 'img/resim3-3.jpg' %}" alt=""></div>
            <div>
                <h1 class="headerh1">Sıradaki fikri bulun</h1>
                <p class="headerP3">yeni giyim stili</p>
    
                <div class="grid-item3 mb-3 headerG4"> <img  class="grid4R" src="{% static 'img/resim3-4.jpg' %}" alt=""></div>
                <div class="grid-item3 mb-3  headerG3"> <img  class="grid5R" src="{% static 'img/resim3-5.jpg' %}" alt=""></div>
                <div class="grid-item3 mb-3 headerG2"> <img class="grid6R" src="{% static 'img/resim3-6.jpg' %}" alt=""></div>
            </div>
        
            <div class="grid-item3 mb-3"> <img class="grid7R" src="{% static 'img/resim6.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid1R" src="{% static 'img/resim3-8.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid7R" src="{% static 'img/resim7.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid2R" src="{% static 'img/resim4.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid6R"  src="{% static 'img/resim3-9.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid3R" src="{% static 'img/resimE12.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid5R" src="{% static 'img/resimE13.jpg' %}" alt=""></div>
            <div class="grid-item3"> <img class="grid4R"  src="{% static 'img/resimE14.jpg' %}" alt=""></div>
    
          </div>
    </div>
    
    
    <div class="headerCon4">
        <div class="grid4">
            <div class="grid-item4 mb-3"> <img class="grid1R" src="{% static 'img/resim1-4.jpg' %}" alt=""></div>
            <div class="grid-item4 mb-3 headerG2"> <img class="grid2R" src="{% static 'img/resim4-2.jpg' %}" alt=""></div>
            <div class="grid-item4 mb-3  headerG3"> <img  class="grid3R" src="{% static 'img/resim4-3.jpg' %}" alt=""></div>
            <div>
                <h1 class="headerh1">Sıradaki fikri bulun</h1>
                <p class="header4">bahçecilik fikri</p>
    
                <div class="grid-item4 mb-3 headerG4"> <img class="grid4R" src="{% static 'img/resim4-4.jpg' %}" alt=""></div>
                <div class="grid-item4 mb-3  headerG3"> <img class="grid5R" src="{% static 'img/resim4-5.jpg' %}" alt=""></div>
                <div class="grid-item4 mb-3 headerG2"> <img class="grid6R" src="{% static 'img/resim4-6.jpg' %}" alt=""></div>
            </div>
        
            <div class="grid-item4 mb-3"> <img class="grid7R" src="{% static 'img/resim4-7.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid1R" src="{% static 'img/resim4-8.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid7R" src="{% static 'img/resim4-9.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid2R" src="{% static 'img/resim4-10.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid6R" src="{% static 'img/resim4-11.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid3R" src="{% static 'img/resimE12.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid5R" src="{% static 'img/resimE13.jpg' %}" alt=""></div>
            <div class="grid-item4"> <img class="grid4R" src="{% static 'img/resimE14.jpg' %}" alt=""></div>
    
          </div>
    </div>
    












