



<style>
 
    .setttiNa > ul{
    list-style-type: none;
    padding-left: 14px !important;
    }
    .setttiNa > ul >li{
        margin-bottom: 1.1rem;
        padding: 2px 2px 2px 2px;

    }
    .setttiNa > ul > li > a{
    list-style-type: none;
    font-weight: 600;
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif;
    font-size: 16px;
    color: #111111;
    }
    .setttiNa > ul > li:hover{
        background-color: #ede9e9;
        border-radius: 6px;
    }
    .setttiNa{
        width: 70% !important;
    }
</style>






        <div class="col-2 setttiNa">
            <ul>
                <li>
                    <a href="./setting">Profili düzenle</a>
                </li>
                <li>
                    <a href="./account">Hesap yönetimi</a>
                </li>
                <li>
                    <a href="./profiVisibility">Profil görünürlüğü</a>
                </li>
                <li>
                    <a href="./history">Ana sayfa akışını ayarlayın</a>
                </li>
                <li>
                    <a href="./claim">Üzerinize aldığımız hesaplar</a>
                </li>
                <li>
                    <a href="./permissions">Sosyal İzinler</a>
                </li>
                <li>
                    <a href="./notifications">Bildirimler</a>
                </li>
                <li>
                    <a href="./privacy">Gizlilik ve veriler</a>
                </li>
                <li>
                    <a href="./security">Güvenlik</a>
                </li>
                <li>
                    <a href="./brand">Markalı İçerikler</a>
                </li>
            </ul>
        </div>

   





