{% load static %}
<div class="login" id="register1">
    <div class="loginImg">
        <img src="{% static 'img/indir.png' %}" width="60px" alt="">
    </div>
        <span class="close">&times;</span>
            <!-- Giriş formu burada yer alacak -->

    <h2 class="loginH2">Pinterest'e Hoş Geldiniz</h2>
    <h4 class="loginH4">Bir sonraki tutkunuzu keşfedin</h4>
    <form method="POST" name="register1">
        {% csrf_token %}
    <div class="login2">
        <h6 class="loginEh6">E-posta</h6>
        <input class="loginIe" name="email" type="email" placeholder="E-posta">
        <h6 class="loginEh6">Kullanici Adi</h6>
        <input class="loginIe" name="username" type="username" placeholder="Kullanici Adi">
     <h6 class="loginEh66">Parola</h6>
     <input type="password" name="password" class="loginIe" placeholder="Bir parola oluşturun">
     <h6 class="loginEh66" >Doğum tarihi</h6>
     <input type="date" name="date" class="loginIe">
     <button class="loginBd" type="submit"  name="register1">Devam Et</button>
     <h5 class="loginH5">VEYA</h5>
     <button class="loginBf"><img src="{% static 'img/facebook.jpg' %}" width="37px" alt=""> Facebook ile Devam Et</button>
     <button class="loginBg"> <img src="{% static 'img/google.jpg' %}" alt="">Google ile devam edin</button>
     <p class="login1p">Devam ederek Pinterest'in <a href="" class="text-black loginpA1">Hizmet Şartları</a>  koşullarını kabul etmiş ve <a href="" class="text-black loginpA1">Gizlilik Politakası</a>  metnini okuduğunuzu onaylamış olursunuz.  <a href="" class="text-black loginpA1">Veri toplama bildirimi.</a> </p>
     <p class="login1p">Zaten üye misiniz? <a href="" class="text-black loginpA1">Oturum Aç</a></p>
    </div>
    <p class="loginpS">Ücretsiz bir işletme hesabı oluşturun</p>
   
   </form>
</div>