{% load static %}




<!-- 2.sayfa kisim -->
<div class="container-fluid section2 ">
    <div class="row">
        <div class="col-6">
            <div class="section2Img2">
                <img src="{% static 'img/resimKapak1.png' %}" alt="">

            </div>
        </div>
 <div class="col-6 justify-content-center d-flex section2r">
            <div class="w-50 align-items-center ">
                <h1 class="section2h1">Bir fikir arayın</h1>
                <h3 class="section2h3">Şimdi ne denemek istersiniz? "Kolay tavuk yemeği" gibi ilgilendiğiniz bir şey düşünün ve neler bulacağınıza bakın.</h3>
                <div class="section2btnB">
                    <button class="section2btn">
                        Keşfet
                    </button>
                </div>
               
            </div>
   </div>
    </div>
</div>

<!-- 3.sayfa kismmi -->
<div class="container-fluid section3">
    <div class="row">
        <div class="col-6 justify-content-center d-flex section3r">
            <div class=" align-items-center ">

            <h1 class="section3h1 mb-4">Beğendiğiniz fikirleri kaydedin</h1>
            <div class="text-center d-flex justify-content-center">
                <h3 class="sectioneh3 mb-4">En beğendiğiniz fikirlere daha sonra geri dönmek için kaydedin.</h3>

            </div>
            <div class="section3btnB">
                <button class="section3btn">Keşfet</button>
            </div>
            </div>

        </div>
        <div class="col-6">
            <div class="section3Img3">
                <img src="{% static 'img/resimKapak2.png' %}"  alt="">
            </div>
        </div>
    </div>
</div>

<!-- 4.sayfa kisimi -->

<div class="container-fluid section4">
    <div class="row">
        <div class="col-6 section4Img">
          
        </div>
        <div class="col-6">
            <div class="justify-content-center d-flex section4r">
                <div class=" align-items-center ">
    
                <h1 class="section4h1 mb-4">Gör, üret, dene, yap</h1>
                <div class="text-center d-flex justify-content-center">
                    <h3 class="sectioneh4 mb-4">Pinterest'in en iyi yanı dünyanın her yerindeki kullanıcılardan yeni şeyler ve fikirler keşfetmek.</h3>
    
                </div>
                <div class="section4btnB">
                    <button class="section4btn">Keşfet</button>
                </div>
                </div>
    
            </div>
        </div>
    </div>
</div>